/* ivBlock popup style */

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {

	body {
		background-color: #fff;
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #222;
	}

}

body {
	color: #000;
	font-size: 16px;
	text-align: center;
	overflow-x: hidden;
	padding: 10px;
	min-height: 800px;
}

#button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

button {
	display: inline;
	width: 100%;
	margin: 0;
	padding: 10px;
	background: #eee;
	border: 1px solid #888;
	border-radius: 8px;
	font-size: 1em;
	cursor: pointer;
}

button:hover:enabled {
	background: #ddd;
}

button:active:enabled {
	background: #ccc;
}

.logo {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}
