/* ivBlock popup style */

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {

	body {
		background-color: #fff;
	}

}

@media (prefers-color-scheme: dark) {

	body {
		background-color: #222;
	}

}

body {
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	width: 350px;
	min-height: 0;
	margin: 0 auto;
}

#button-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}



.logo {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}




@media (max-width: 400px) {
	#button-container {
		flex-wrap: wrap;
		flex-direction: row;
	}
}